<!doctype>
<html>
<head>
  <title>Hello world!</title>
  <link rel="stylesheet" href="./public/style.css">
</head>
<body>
  <div id="react-container"></div>

  <script src="/public/client.js"></script>
</body>
