@import '../_vars';

.btn {
  background: $blue1;
  color: $white;
  border: 0;
  border-bottom: 0.15em solid $blue2;
  font-size: 1.1em;
  padding: 0.3em 1.2em;

  &:hover, &:focus {
    cursor: pointer;
    background: $blue2;
    padding: 0.35em 1.2em 0.25em;
  }

  &:active {
    padding: 0.40em 1.2em 0.20em;
  }

  &--inline {
    background: none;
    border: none;
    font-size: 1em;
    color: $color;
    padding: 0;

    &:hover, &:focus, &:active {
      background: none;
      padding: 0;
      text-decoration: underline;
    }
  }
}
