$white: #ffffff;
$gray1: #f6f7f6;
$gray2: #dadada;
$darkGray1: #5d6574;
$darkGray2: #3a414f;
$blue1: #3b6cca;
$blue2: #1248b0;

$backgroundColor: $gray1;
$color: $darkGray1;
$linkColor: $blue1;
$activeColor: $blue2;
