@import './_vars';

body {
  background: $backgroundColor;
  color: $color;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  width: 80%;
  margin: 5% auto 0;
}

@media screen and (min-width: 1000px) {
  body {
    width: 60%;
    max-width: 800px;
  }
}

a {
  color: $linkColor;
  &.active, &:hover, &:focus {
    color: $activeColor;
  }
}

@import './global/format';
@import './global/button';
@import './global/form';

@import './components/blocks';
@import './components/tooltip';
@import './components/quizz-creator-steps';
